{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top navbar-header">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <!-- <li><a href="#">Link</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/category/action">Action</a></li>
            <li><a href="/category/fiction">Fiction</a></li>
            <li><a href="/category/horror">Horror</a></li>
            <li><a href="/category/science">Science</a></li>
            <li><a href="/category/science-fiction">Science-Fiction</a></li>
            <li><a href="/category/suspence">Suspense</a></li>
            <li><a href="/category/romance">Romance</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" action="/search/">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="term">
          </div>
          <button type="submit" class="btn btn-primary active">Submit</button>
      </form>
      <div class="navbar-right"> <!-- Boostrap limition  http://getbootstrap.com/components/#navbar-component-alignment -->
        <ul class="nav navbar-nav">
            <li class="a-cart"><a href="/cart">Cart</a></li>
        </ul>
      </div>  
</div>
{% endblock %}

{% block content %}
<div class="container bodystart">
    {{util.flashed_messages()}}
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<style type="text/css"> <!-- We all know this should go in a css file but whatevs -->
th, td {
            padding: 10px;
}
.bodystart { 
    padding-top: 70px; 
}

</style>
{% endblock %}
