{% extends "base.html" %}

{% block content %}
{{super()}}
<div class="container">
    {% if 'query' in result %}
    <h1>Here are your search results for {{result['query']}}</h1>
    {% endif %}
    <table class="table table-striped">
    <tr>
    {% for entry in result['header'] %}
            <th> {{ entry }} </th>
    {% endfor %}
    </tr>
    {% for row in result['data'] %}
        <tr>
        {% for field in row %}
            <td> {{ field }} </th>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}
